.back-container {
  background-color: gray;
  height: 100vh;
  position: relative;
}

.before {
  position: absolute;
  margin-top: 150px;
}

.inside {
  background-color: #ededed;
  height: auto;
  margin-top: 150px;
}

.header {
  background-color: #009688;
  height: 70px;
}

.one {
  height: 10%;
  color: #009688;
}

.three {
  color: #009688;
}

button:hover {
  background-color: #009688 !important;
}

.after {
  display: none;
}

#button-otp {
  display: none;
}

.before {
  width: 100%;
}

.new {
  margin-top: 100px !important;
}
